input.error {
    border-color: #dc3545;
}
input.success {
    border-color: #28a745;
}
.error_message {
    color: #dc3545;
    font-style: italic;
    margin-top: 3px;
    /* text-decoration-line:underline */
}
.form_group_change {
    position: relative;
}
.form_group_change i {
    position: absolute;
    top: 60%;
    right: 3%;
    transform: translate(-50%, -50%);

}
.form_group_password i:hover {
    cursor: pointer;
}
.form_group_change .error i {
    top: calc(50% - 0.75rem);
}

.input_change_password, .input_change_name, .input_change_email {
    width: 100%;
}
.form_group_change input {
    margin-bottom: 1rem;
}