/*=============== BREADCRUMBS ===============*/
.breadcrumb {
    background-color: var(--container-color);
    padding-block: 1.5rem;
}
.breadcrumb_list {
    column-gap: 0.75rem;
}
.breadcrumb_link {
   color: var(--text-color); 
   font-size: var(--small-font-sizes) ;
}
.container_search_product{
    background-color: #E9E0F7;
    width: 1300px;
    max-width:  100%;
    margin: 50px auto 0;
    border-radius: 10px;
    padding: 1rem 0;
}
.filter{
    padding: 20px;
    display: grid;
    grid-template-columns: 32.666% 32.666% 32.666%;
    column-gap: 1%;
    row-gap: 10px;
}
.filter .item{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter .item select,
.filter .item input,
.filter .item button{
    width: 100%;
    padding: 5px;
    border: none;
    background-color: transparent;
    border-left: 1px solid #ddd;
    outline: none;
}
.filter .item label{
    display: block;
    width: 40%;
    padding: 0 10px;
}
.filter .item.submit button{
    background-color: #360786;
    color: #fff;
}
.countResults{
    font-size: xx-large;
    text-align: center;
    padding: 20px;
}
#list{
    padding: 20px;
    display: grid;
    column-gap: 1%;
    grid-template-columns: 32.66% 32.66% 32.66%;
    row-gap: 10px;
}
#list .item img{
    width: 90%;
    height:300px;
    object-fit: cover;
    margin: 20px 0;
    border-radius: 10px;
}
#list .item{
    background-color: #fff5;
    text-align: center;
    border-radius: 10px;
}
#list .item .title{
    font-weight: bold;
}
#list .item .price{
    color: #F5B976;
    letter-spacing: 1px;
    padding: 20px;
}
.sologan {
    padding-right: 1rem;
}
.hide_product_my_acount {
    padding: 1rem;
    margin: 0;
    margin-bottom: 1rem;
}
.pagination_shop_show_products {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    font-size: var(--small-font-size);
}