/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Spartan:wght@400;500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 4rem ;

  /*========== Colors ==========*/
  /* Color mode HSL(hue, saturation, lightness) */
  --first-color: hsl(176, 88%, 27%);
  --first-color-alt: hsl(129, 44%, 94%);
  --second-color: hsl(34, 94%, 87%);
  --title-color: hsl(0, 0%, 13%);
  --text-color: hsl(154, 13%, 32%);
  --text-color-light: hsl(60, 1%, 56%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(0, 0%, 93%);
  --border-color: hsl(129, 36%, 85%);
  --border-color-alt: ;hsl(113, 15%, 90%)

  /*========== Font and typography ==========*/
  /* .5rem = 8px | 1rem = 16px ... */
  --body-font: ;
  --second-font: 'Spartan', sans-serif; ;
  --big-font-size: 3.5rem;
  --h1-font-size: 2.75rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.75rem;
  --h4-font-size: 1.375rem;
  --large-font-size: 1.125rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.6875rem;

  /*========== Font weight ==========*/
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  /*========== Transition ==========*/
  --transition: cubic-bezier(0, 0, 0.05, 1);
}

/* Responsive typography */
@media screen and (max-width: 1200px) {
  :root {
    --big-font-size: ;
    --h1-font-size: ;
    --h2-font-size: ;
    --h3-font-size: ;
    --h4-font-size: ;
    --large-font-size: ;
    --normal-font-size: ;
    --small-font-size: ;
    --smaller-font-size: ;
    --tiny-font-size: ;
  }
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
input, textarea, body {
  color: var(--text-color);
  font-family : var(--body-color);
  font-size: var(--normal-font-size);
  font-weight: var(--weight-400);
}
body {
  background-color: var(--body-color);
}
h1, h2, h3, h4 {
  font-family: var(--second-font);
  color: var(--text-color);
  font-weight: var(--weight-600);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  line-height: 1.5rem;
}
img {
  max-width: 100%;
}
button, textarea, input {
  background-color: transparent;
  border: none;
  outline: none;
}
table {
  width: 100%;
  border-collapse: collapse;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  
  max-width: 1320px;
 margin-inline: auto;
  padding-inline: 0.75rem;
}
.grid {
  display: grid;
  gap: 1.5rem;
}
.section_lg {
  padding-block: 4rem;
}
.section {
  padding-block: 2rem;
}
.section_title {
  font-size: var(--h4-font-size);
  margin-bottom: 1.5rem;
}
.section_title span {
  color: var(--first-color);
}
.form_input {
  border: 1px solid var(--border-color-alt);
  padding-inline: 1rem;
  height: 45px;
  border-radius: 0.25rem;
  font-size: var(--small-font-size);
}


.new_price {
  color: var(--first-color);
  font-size: var(--weight-600);
  
}
.old_price {
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  text-decoration: line-through;
}
.form {
  row-gap: 1rem;
}
.form_group {
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.textarea {
  height: 200px;
  padding-block: 1rem;
  resize: none;
}
/*=============== HEADER & NAV ===============*/
.header_top {
  background-color: var(--first-color-alt);
  border-bottom: 1px solid var(--first-color);
  padding-block: 0.875rem;
}
.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_contact span:first-child {
  margin-right: 2rem;
}
.header_contact span,
.header_alert_news,
.header_top-action {
  font-size: var(--small-font-size);
}
.header_alert_news {
  color: var(--text-color-light);
  font-weight: var(--weight-600);
}
.header_top-action {
  color: var(--title-color);
  font-weight: var(--weight-700);
}
.nav ,
.nav_menu,
.nav_list,
.header_user-actions {
  display: flex;
  align-items: center;
}
.nav {
  height: calc(var(--header-height) + 2.5rem);
  justify-content: space-between;
  column-gap: 1rem;
}
.nav_logo-img {
  width: 120px;
}
.nav_menu {
  flex-grow: 1;
  margin-left: 2.5rem;
}
.nav_list {
  column-gap: 2.5rem;
  margin-right: auto;
}
.nav_link {
  color: var(--title-color);
  font-weight: var(--weight-700);
  transition: all 0.2s var(--transition);
}
.header_search {
  width: 340px;
  position: relative;
}
.header_search .form_input {
 
  width: 100%;
}
.search_btn {
  position: absolute;
  top: 24%;
  right: 1.25rem;
  cursor: pointer;
}
.header_user-actions {
  column-gap: 1.25rem;
}

.header_action-btn {
  position: relative;
}
.header_action-btn img {
  width: 24px;
}
.header_action-btn .js_cart_quantily,
.header_action-btn .wishlist{
  position: absolute;
  top: -0.625rem;
  right: -0.625rem;
  background-color: var(--first-color);
  color: var(--body-color);
  height: 18px;
  width: 18px;
  line-height: 18px;
  border-radius: 50%;
  text-align: center;
  font-size: var(--tiny-font-size);
}

/* Active link */
.nav_link:hover {
  color: var(--first-color);
}
/*=============== HOME ===============*/
.home_container {
  grid-template-columns: 5fr 7fr;
  align-items: center;
}
.home_subtutle,
.home_description {
  font-size: var(--large-font-size);
}
.home_subtutle {
  font-family: var(--second-font);
  font-weight: var(--weight-600);
  margin-bottom: 1rem;
  display: block;
}

.home_title {
  font-size: var(--h1-font-size);
  font-weight: var(--weight-700);
  line-height: 1.4;
}
.home_title span {
  color: var(--first-color);
  font-size: var(--big-font-size);
}
.home_description {
  margin-block: 0.5rem 2rem;
}
.home_img {
  justify-self:flex-end ;
}

/*=============== BUTTONS ===============*/
.btn {
  display: inline-block;
  background-color: var(--first-color);
  border: 1px solid var(--first-color);
  color: var(--body-color);
  padding-inline: 1.75rem;
  height: 49px;
  line-height: 49px;
  border-radius: 0.25rem;
  font-family: var(--second-font);
  font-size: var(--small-font-size);
  font-weight: var(--weight-700);
  transition: all 0.4s var(--transition);
}
.btn:hover {
  background-color: transparent;
  color: var(--first-color);
}
.btn_md,
.btn_sm {
  font-family: var(--body-fort);
}
.btn_md {
  height: 45px;
  line-height: 42px;
}
.btn_sm {
  height: 40px;
  line-height: 38px;
}
.flex {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
/*=============== CATEGORIES ===============*/
.categories {
  overflow: hidden ;
}
.category_item {
  text-align: center;
  border: 1px solid var(--border-color);
  padding: 0.625rem 0.625rem 1.25rem;
  border-radius: 1.25rem;
}
.category_img {
  border-radius: 0.75rem;
  margin-bottom: 1.25rem;
}
.category_title {
 color: var(--text-color); 
 font-size: var(--small-font-size);
}

/* Swiper class */
.swiper {
  overflow: initial;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: '';
}
.swiper-button-next,
.swiper-button-prev {
  top: -1.875rem;
  background-color: var(--first-color-alt);
  border: 1px solid var(--border-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: var(--second-color);
  font-size: var(--tiny-font-size);
}

.swiper-button-prev{
  left: initial;
  right: 2.5rem;
}
.swiper-button-next {
  right:  0;
}

/*=============== PRODUCTS ===============*/
.tab_btns {
  display: flex;
  column-gap: 0.75rem;
  margin-bottom: 2rem;
}
.tab_btn {
  background-color: var(--container-color);
  color: var(--title-color);
  padding: 1rem 1.25rem 0.785rem;
  border-radius: 0.25rem;
  font-family: var(--second-font);
  font-size: var(--small-font-size);
  font-weight: var(--weight-600);
  cursor: pointer;
}
.product_container {
  grid-template-columns: repeat(4, 1fr);
}
.product_item {
  border: 1px solid var(--border-color);
  border-radius: 1.5rem;
  transition: all 0.2s var(--transition);
}

.product_banner {
  padding: 0.625rem 0.75rem 0.75rem;
}
.product_banner,
.product_images {
  position: relative;
}
.product_images {
  display: block;
  overflow: hidden;
  border-radius: 1.25rem;
}
.product_img {
  vertical-align: middle;
  transition: all 1.5s var(--transition);
}
.product_item:hover .product_img {
  transform: scale(1.1);
}
.product_img.hover {
  position: absolute;
  top: 0;
  left: 0;
}
.product_actions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  column-gap: 0.5rem;
  transition: all 0.2s var(--transition);
}
.action_btn {
  width: 40px;
  height: 40px;
  line-height: 42px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--first-color-alt);
  border: 1px solid var(--body-color);
  color: var(--text-color);
  font-size: var(--small-font-size);
  position: relative;
}
.action_btn::before,
.action_btn::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s cubic-bezier(0.71, 1.7, 0.77, 0.1.24);
}

.action_btn::before {
  content: '';
  top: -2px;
  border: 0.5rem solid transparent;
  border-top-color: var(--first-color);
}

.action_btn::after {
  content: attr(aria-label);
  bottom: 100%;
  background-color: var(--first-color);
  color: var(--body-color);
  font-size: var(--tiny-font-size);
  white-space: nowrap;
  padding-inline: 0.625rem;
  border-radius: 0.25rem;
  line-height: 2.58;

}
.product_badge {
  position: absolute;
  left: 1.25rem;
  top: 1.25rem;
  background-color: var(--first-color);
  color: var(--body-color);
  padding: 0.25rem 0.625rem;
  border-radius: 2.5rem;
  font-size: var(--tiny-font-size);

}
.product_badge.light_pink {
  background-color: hsl(341, 100%, 73%);
}
.product_badge.light_green {
  background-color: hsl(155, 20%, 67%);
}
.product_badge.light_orange {
  background-color: hsl(24, 100%, 73%);
}
.product_badge.light_blue {
  background-color: hsl(200, 53%, 73%);
}
.product_content {
  padding: 0 1.25rem 1.125rem;
  position: relative;
}
.product_category {
  color: var(--text-color-light);
  font-size: var(--smaller-font-size);
}
.product_title {
  font-size: var(--normal-font-size);
  margin-block: 0.75rem 0.5rem;
}
.product_rating {
  color: hsl(24,100%,50%);
  font-size: var(--smaller-font-size);
  margin-bottom: 0.75rem;
}
.product_price .new_price {
  font-size: var(--large-font-size);
}
.cart_btn {
  position: absolute;
  bottom: 1.6rem;
  right: 1.25rem;
}
/* Active Tab */
.tab_btn.active-tab {
  color: var(--first-color);
  background-color: var(--second-color);
}

.tab_item:not(.active-tab) {
  display: none;
}
/* Product Hover */

.product_img.hover,
.product_actions,
.action_btn::before,
.action_btn::after,
.product_item:hover .product_img.default {
  opacity: 0;
}
.product_item:hover {
  box-shadow: 0 0 10px hlsa(0, 0%, 0%, 0.1);
}

.product_item:hover .product_img.hover,
 .product_item:hover .product_actions,
 .action_btn:hover:before,
 .action_btn:hover::after{
  opacity: 1;
}
.action_btn:hover:before,
 .action_btn:hover::after{
  transform: translateX(-50%) translateY(-0.5rem);
}
.action_btn:hover {
  background-color: var(--first-color);
  border-color: var(--first-color);
  color: var(--body-color);
}

/*=============== DEALS ===============*/
.deals_container {
  grid-template-columns: repeat(2, 1fr);
 
}
.deals_item:nth-child(1) {
  background-image: url(../img/deals-1.jpg);
}
.deals_item:nth-child(2) {
  background-image: url(../img/deals-2.png);
}
.deals_item {
  padding: 3rem;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.deals_brand {
  color: var(--first-color);
  font-size: var(--h3-font-size);
  margin-bottom: 0.25rem;
}
.deals_catagory {
  font-family: var(--second-color);
  font-size: var(--small-font-size);
}
.deals_title {
  max-width: 240px;
  font-size: var(--large-font-size);
  font-weight: var(--weight-400);
  line-height: 1.3;
} 
.deals_price .new_price,
.deals_price .old_price {
  font-size: var(--large-font-size);
}
.deals_price .new_price {
  color: hsl(352, 100%, 60%);
}
.deals_countdown_text {
  margin-bottom: 0.25rem;
}
.coutdown {
  display: flex;
  column-gap: 1.5rem;
}
.coutdown_amount {
  position: relative;
}
.coutdown_amount::after {
  content: '';
  color: var(--title-color);
  font-size: var(--large-font-size);
  position: absolute;
  right: -25%;
  top: 20%;
}
.coutdown_period {
  background-color: var(--first-color);
  color: var(--body-color);
  width: 60px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 0.25rem;
  font-size: var(--large-font-size);
  font-weight: var(--weight-600);
  margin-bottom: 0.5rem;
}
.unit {
  font-size: var(--small-font-size);
  text-align: center;
  display: block;
}
.deals_btn {
  background-color: transparent;
  color: var(--first-color);
}

/*=============== NEW ARRIVALS ===============*/
.new_arrivals {
  overflow: hidden;
}



/*=============== SHOWCASE ===============*/
.showcase_container {
  grid-template-columns: repeat(4, 1fr);
}

.showcase_wrapper .section_title { 
  font-size: var(--normal-font-size);
  border-bottom: 1px solid var(--border-color-alt);
  padding-bottom: 0.75rem;
  margin-bottom: 2rem;
  position: relative;

}
.showcase_wrapper .section_title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1.3px;
  width: 50px;
  height: 2px;
  background-color: var(--first-color);
}
.showcase_item {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}
.showcase_item:not(:last-child) {
  margin-bottom: 1.5rem;
} 
.showcase_img {
width: 86px;
}
.showcase_content {
  width: calc(100% - 110px);
 }
 .showcase_title {
  font-size: var(--small-font-size);
  font-weight: var(--weight-500);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.5rem;
 }

/*=============== NEWSLETTER ===============*/
.newsletter {
  background-color: hsl(166, 23%, 74%);
}
.home_newletter {
  margin-top: 2rem;
}
.newsletter_container {
  grid-template-columns: repeat(2, 3.5fr) 5fr;
  align-items: center;
  column-gap: 3rem;
}
.newsletter_title  {
  column-gap: 1rem;
  font-size: var(--large-font-size);
}
.news_letter_icon {
  width: 40px;
}
.newsletter_description {
  color: var(--title-color);
  font-family: var(--second-font);
  font-size: var(--small-font-size);
  font-weight: var(--weight-600);
}
.newsletter_form {
  display: flex;
}

.newsletter_input, .newsletter_btn {
  font-size: var(--small-font-size);
}
.newsletter_input {
  background-color: var(--body-color);
  padding-inline: 1.25rem;
  width: 100%;
  height: 48px;
  border-radius: 0.25rem 0 0 0.25rem;
}
.newsletter_btn {
  background-color: var(--title-color);
  color: var(--body-color);
  padding-inline: 2rem;
  border-radius: 0 0.25rem 0.25rem 0;
  font-family: var(--second-font);
  font-weight: var(--weight-500);
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.3s var(--transition);

}
.newsletter_btn:hover {
  background-color: var(--first-color);
}


/*=============== FOOTER ===============*/
.footer_container {
  grid-template-columns: 4.5fr repeat(2, 2fr) 3.5fr;
  padding-block: 2.5rem;
}

.footer_subtitler {
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  margin-block: 1.25rem 0.625rem;
}
.footer_description {
  margin-bottom: 0.25rem;
}
.footer_logo_img {
  width: 120px;
}
.footer_description span {
  font-weight: var(--weight-600);
}
.footer_social .footer_subtitle {
  margin-top: 1.875rem;
}
.footer_social_link {
  column-gap: 0.25rem;
  margin-top: 0.75rem;
}
.footer_social_icon {
  width: 20px;
  opacity: 0.7;
}
.footer_tittle {
  font-size: var(--large-font-size);
  margin-block: 1rem 1.25rem;
}
.footer_link {
  color: var(--title-color);
  font-size: var(--small-font-size);
  margin-bottom: 1rem;
  display: block;
  transition: all 0.3s var(--transition)
}
.footer_link:hover {
  color: var(--first-color);
  margin-left: 0.25rem;
}
.footer_bottom {
  display: flex;
  justify-content: space-between;
  padding-block: 1.125rem;
  border-top: 1px solid var(--border-color-alt);
}
.copyright,
.designer {
  color: var(--text-color-light);
  font-size: var(--small-font-size);
}

/*=============== BREADCRUMBS ===============*/
.breadcrumb {
  background-color: var(--container-color);
  padding-block: 1.5rem;
}
.breadcrumb_list {
  column-gap: 0.75rem;
}
.breadcrumb_link {
 color: var(--text-color); 
 font-size: var(--small-font-sizes) ;
}
/*=============== SHOP ===============*/
.total_product {
  margin-bottom: 2.5rem;
}
.total_product {
  color: var(--first-color);
  font-weight: var(--weight-600);
}
.pagination {
  display: flex;
  column-gap: 0.625rem;
  margin-top: 2.75rem;
}
.pagination_link {
  display: inline-block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  border-radius: 0.25rem;
  color: var(--text-color);
  font-size: var(--small-font-size);
  font-weight: var(--weight-700);
  transition: all 0.15s var(--transition);
}
.pagination_link.active,
.pagination_link:hover {
  background-color: var(--first-color);
  color: var(--body-color);
}
.pagination_link.icon {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}


/*=============== DETAILS ===============*/
.details_container {
  grid-template-columns: 5.5fr 6.5fr;
}
.details_img {
  margin-bottom: 0.5rem;
}
.details_small_image {
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0.625rem;
}
.details_small_img {
  cursor: pointer;
}
.details_title {
  font-size: var(--h2-font-size);
}
.details_brand {
  font-size: var(--small-font-size);
  margin-bottom: 1rem;
}
.details_brand span {
  color: var(--first-color);
}
.details_price {
  border-top: 1px solid var(--border-color-alt);
  border-bottom: 1px solid var(--border-color-alt);
  padding-block:1rem ;
  column-gap: 1rem;
}
.details_price .new_price {
  font-size: var(--h2-font-size);
}
.details_price .old_price {
  font-size: var(--normal-font-size);
  font-weight: var(--weight-500);
}
.short_description {
  margin-block: 1rem 2rem;
}
.list_item,
.meta_list {
  font-size: var(--small-font-size);
  margin-bottom: 0.75rem;
}
.details_color,
.details_size {
  column-gap: 0.75rem;
}
.details_color {
  margin-block: 2rem 1.5rem;
}
.details_size {
  margin-bottom: 2.5rem;
}
.details_color_title,
.details_size_title {
  font-size: var(--small-font-size);
  font-weight: var(--weight-600);
}
.color_list,
.size_list {
  display: flex;
  column-gap: 0.25rem;
}
.color_link {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: block;
}
.size_link {
  border: 1px solid var(--border-color-alt);
  padding: 0.375rem 0.75rem 0.5rem;
  color:  var(--text-color);
  font-size: var(--small-font-size);
}
.size_active {
  background-color: var(--first-color);
  color: var(--body-color);
}
.details_action {
  display: flex;
  column-gap: 0.375rem;
  margin-bottom: 3.25rem;
}

.quantity,
.details_action_btn {
  border: 1px solid var(--border-color-alt);
  font-size: var(--small-font-size);
}
.quantity {
  max-width: 80px;
  padding-block: 0.5rem;
  padding-inline: 1rem 0.5rem;
  border-radius: 0.25rem;
}
.details_action_btn {
  color: var(--text-color);
  line-height: 40px;
  padding-inline: 0.75rem;
}
.details_meta {
  border-top: 1px solid var(--border-color-alt)
}

/*=============== DETAILS INFO & REVIEWS ===============*/
.detail_tabs {
  display: flex;
  column-gap: 1.75rem;
  margin-bottom: 3rem;
}

.detail_tab {
  font-family: var(--second-font);
  font-size: var(--large-font-size);
  font-weight: var(--weight-600);
  cursor: pointer;
}
.detail_tab.active-tab {
  color: var(--first-color);
}
.details_tab_content:not(.active-tab) {
  display: none;
}
.info_table tr th,
.info_table tr td {
  border: 1px solid var(--border-color-alt);
  padding: 0.625rem 1.125rem;
}
.info_table tr th {
  font-weight: var(--weight-500);
  text-align: left;
}
.info_table tr td {
  color: var(--text-color-light);
}
.reviews_container {
  padding-bottom: 3rem;
  row-gap: 1.25rem;
}
.review_single {
  border-bottom: 1px solid var(--border-color-alt);
  padding-bottom: 1.25rem;
  display: flex;
  align-items: flex-start;
  column-gap: 1.5rem;
}
.review_single:last-child {
  padding-bottom: 3rem;
}
.review_img {
  width: 70px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
.review_title {
  font-size: var(--tiny-font-size);
}
.review_data {
  width: calc(100% - 94px);
}
.review_description {
  margin-bottom: 0.5rem;
}
.review_rating {
  color: hsl(42, 100%, 50%);
  margin-bottom: 0.25rem;
}
.review_rating,
.review_date {
  font-size: var(--small-font-size);
}
.review_form {
  font-size: var(--large-font-size);
  margin-bottom: 1rem;
}
.rate_product {
  margin-bottom: 2rem;
}


/*=============== CART ===============*/
.table_container {
  overflow-x: auto;
}
.table {
  table-layout: fixed;
  margin-bottom: 2rem;
}

.table tr {
  border-top: 1px solid var(--border-color-alt);
}
.table tr:last-child {
  border-bottom: 1px solid var(--border-color-alt);
}

.table tr th:nth-child(1),
.table tr td:nth-child(1) {
  width: 216px;
}
.table tr th:nth-child(2),
.table tr td:nth-child(2) {
  width: 400px;
}
.table tr th:nth-child(3),
.table tr td:nth-child(3) {
  width: 108px;
}
.table tr th:nth-child(4),
.table tr td:nth-child(4) {
  width: 220px;
}
.table tr th:nth-child(5),
.table tr td:nth-child(5) {
  width: 200px;
}
.table tr th:nth-child(6),
.table tr td:nth-child(6) {
  width: 152px;
}
.table_img {
  width: 80px;
}

.table tr th,
.table tr td {
  padding: 0.5rem;
  text-align: center;
}
.table_title,
.table_description,
.table_price,
.table_subtotal,
.table_trash,
.table_stock {
  font-size: var(--small-font-size);
}
.table_title,
.table_stock {
  color: var(--first-color);
}
.table_description {
  max-width: 250px;
  margin-inline: auto;
}
.table_trash {
  color: var(--text-color-light);
}
.cart_actions {
  display: flex;
  justify-content: flex-end;
  gap : 0.75rem;
  margin-top: 1.5rem;
}
.divider {
  position: relative;
  text-align: center;
  margin-block: 3rem;
}
.divider::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-top: 1px solid var(--border-color-alt);
}
.divider i {
  color: var(--text-color-light);
  background-color: var(--body-color);
  font-size: 1.25rem;
  padding-inline: 1.25rem;
  position: relative;
  z-index: 10;
}
.cart_group {
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
}
.cart_shipping .section_title,
.cart_coupon .section_title ,
.cart_total .section_title {
  font-size: var(--large-font-size);
  margin-bottom: 1rem;
}
.cart_coupon {
  margin-top: 3rem;
}
.coupon_form .form_group {
  align-items: center;
}
.form_calclate {
  margin-bottom: 1rem;
}
.cart_total {
  border: 1px solid var(--border-color-alt);
  border-radius: 0.25rem;
  padding: 1.75rem;
}
.cart_tatal_table {
  margin-bottom: 1rem;
}
.cart_tatal_table tr td {
  border: 1px solid var(--border-color-alt);
  padding: 0.75rem;
  width: 50%;
}
.cart_total_title {
  font-size: var(--small-font-size);
}
.cart_total_price {
  color: var(--first-color);
  font-weight: var(--weight-700);
}
.cart_total .btn {
  display: inline-flex;
}



/*=============== CART OTHERS ===============*/

/*=============== WISHLIST ===============*/

/*=============== CHECKOUT ===============*/
.checkout_container {
  grid-template-columns: repeat(2, 1fr);
}
.checkout_group {
border: 1PX solid var(--border-color-alt);
background-color: var(--container-color);
padding: 2REM;
border-radius: 0.5rem;
}
.checkout_group .section_title {
  font-size: var(--large-font-size)
}
.checkout_title {
  font-size: var(--small-font-size);
}
.order_table tr th {
  color: var(--text-color);
  font-size: var(--small-font-size);
}
.order_table tr th,
.order_table tr td {
  border: 1px solid var(--border-color-alt);
  padding: 0.5rem;
  text-align: center;
}
.order_img {
  width: 80px;
}
.table_quantily,
.order_subtitle {
  font-size: var(--small-font-size);
}
.order_grand_total {
  color: var(--first-color);
  font-size: var(--large-font-size);
  font-weight: var(--weight-700);
}
.payment_methods {
  margin-block: 2.5rem 2.75rem;
}
.payment_title {
  margin-bottom: 1.5rem;
}
.payment_option {
  margin-bottom: 1rem;
}
.payment_input {
  accent-color: var(--first-color);
}
.payment_label {
  font-size: var(--small-font-size);
}

/*=============== COMPARE ===============*/
.compare_table tr th,
.compare_table tr td {
  padding: 0.5rem;
  border: 1px solid var(--border-color-alt);
}
.compare_table tr th{
  color: var(--text-color-light);
  font-size: var(--small-font-size);
}
.compare_table tr td {
  text-align: center;
}
.comapre_color {
  justify-content: center;
 }


/*=============== LOGIN & REGISTER ===============*/

.register_container,
.login_container {
  max-width: 50rem;
  background-color: var(--first-color-alt);
}
.login, .register {
  border: 1px solid var(--border-color-alt);
  padding: 2rem;
  border-radius: 0.5rem;
}
.btn_login, .btn_register{
 margin: 1rem 0;
}
.form_note {
  color: var(--first-color);
}

/*=============== ACCOUNTS ===============*/
.accounts_container {
  grid-template-columns: 4fr 8fr;

} 
.table_content:not(.active-tab) {
  display: none;
}
.account_tabs {
  /* border: 1px solid var(--border-color-alt); */
  border-radius: 0.25rem;
  cursor: pointer;
}
.account_tab {
  padding: 1rem 2rem;
  color: var(--title-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
}
.account_tab.active-tab {
  background-color: var(--first-color);
  color: var(--body-color);
}
.tab_content:not(.active_tab) {
  display: none;
}
.tab_content {
  border: 1px solid var(--border-color-alt);
}
.tab_header {
  background-color: var(--container-color);
  border-bottom: 1px solid var(--border-color-alt);
  padding: 1rem;
  font-size: var(--small-font-size);
}
.tab_body {
  padding: 1rem;
}
.placed_order_table {
  color: var(--title-color);
  text-align: left;
}
.placed_order_table tr th,
.placed_order_table tr  td{
  border: 1px solid var(--border-color-alt);
  padding: 0.5rem;
  font-size: var(--small-font-size);
}
.view_order,
.edit {
  color: var(--first-color);
}

address {
  font-style: normal;
  font-size: var(--small-font-size);
  line-height: 1.5rem;
}
.city {
  margin-bottom: 0.25rem;
}
.edit {
  font-size: var(--small-font-size);
}
.form_input_acc {
  margin-bottom: 1rem;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px) {
}

/* For medium devices */
@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

/* For small devices */
@media screen and (max-width: 576px) {
}

@media screen and (max-width: 350px) {
}
